<% include ../partials/header %>

<div class="row">
    <!--Sidebar for info-->
    <div class="col-md-3">
        <p class="lead">YelpCamp</p>
        <div class="list-group">
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
        </div>
    </div>
    <div class="col-md-9">
        <!--Show campground-->
        <div class="thumbnail">
            <img class="img-responsive" src="<%= campground.image %>">
            <div class="caption">
                <!--Show price, name, description, author-->
                <h4 class="pull-right"><strong>$<%=campground.price%>/night</strong></h4>
                <h4><a><strong><%=campground.name%></strong></a></h4>
                <!--Show Likes-->
                <!--Number of likes, open modal with users that liked this campground-->
                <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                        data-target="#campgroundLikes">
                        <span>Total likes: <i class="fas fa-thumbs-up"></i> <%= campground.likes.length %></span>
                    </button>
                </div>
                <!--Like/Unlike button-->
                <div>
                    <form action="/campgrounds/<%= campground.slug %>/like" method="POST">
                        <div class="btn-group">
                            <!--Already liked this campground-->
                            <% if (currentUser && campground.likes.some(like=>like.equals(currentUser._id))) { %>
                            <button class="btn btn-sm btn-primary">
                                <i class="fas fa-thumbs-up"></i> Liked (<%= campground.likes.length %>)
                            </button>
                            <!--Don't like the campground yet.-->
                            <% } else { %>
                            <button class="btn btn-sm btn-secondary">
                                <i class="fas fa-thumbs-up"></i> Like (<%= campground.likes.length %>)
                            </button>
                            <% } %>
                        </div>
                    </form>
                </div>
                <p><%= campground.description %></p>
                <p>
                    <em>Submitted by: <a href="/users/<%=campground.author.id%>"><%=campground.author.username%></a>,
                        <%=moment(campground.createdAt).fromNow()%></em>
                </p>
                <!--Edit and delete buttons-->
                <% if(currentUser && currentUser._id.equals(campground.author.id)) { %>
                <a class="btn btn-warning" href="/campgrounds/<%=campground.slug%>/edit">Edit</a>
                <form class="delete-form" action="/campgrounds/<%=campground.slug%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
        <!--Comments-->
        <div class="well">
            <!--Add Comment-->
            <div class="text-right">
                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseComment"
                    aria-expanded="false" aria-controls="collapseComment">Add New Comment</a>
            </div>
            <!--Comment section title-->
            <h4><strong>Comments <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span></strong>
            </h4>

            <!--Collapse Add a comment form START-->
            <div class="collapse" id="collapseComment">
                <div class="well">
                    <% if(!currentUser) { %>
                    <!--If the user is not logged in, direct him to the login page-->
                    <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login
                        page.</h5>
                    <% } else { %>
                    <!--If the user is logged in, show the new comment form-->
                    <h4>Write your comment</h4>
                    <form id="add-comment-form" action="/campgrounds/<%= campground.slug %>/comments" method="POST">
                        <div class="form-group">
                            <label class="sr-only">username</label>
                            <input class="form-control" type="text" value="<%= currentUser.username %>" disabled>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">comment text</label>
                            <textarea class="form-control" name="comment[text]" placeholder="Write your comment..."
                                form="add-comment-form" rows="5" cols="70"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Comment</button>
                        </div>
                    </form>
                    <% } %>
                </div>
            </div>
            <!--Collapse Add a comment form END-->
            <hr>
            <!--Check if there are comments, if there are none say no comments.-->
            <% if (campground.comments.length === 0) { %>
            <em style="color: grey;">No comments yet.</em>
            <% } %>

            <!--Show Comments-->
            <% campground.comments.forEach(comment => { %>
            <div class="row">
                <div class="col-md-12 comment">
                    <strong><%= comment.author.username %></strong>
                    <span class="pull-right"><%=moment(comment.createdAt).fromNow()%></span>
                    <p>
                        <%= comment.text %>
                    </p>
                    <!--Edit and delete comment-->
                    <% if(currentUser && currentUser._id.equals(comment.author.id)) { %>
                    <!--Edit button-->
                    <a class="btn btn-xs btn-warning" role="button" data-toggle="collapse"
                        href="#collapseEdit<%= comment._id %>" aria-expanded="false"
                        aria-controls="collapse<%= comment._id %>">Edit</a>
                    <!--Delete comment form-->
                    <form class="delete-form"
                        action="/campgrounds/<%=campground.slug%>/comments/<%=comment._id%>?_method=DELETE"
                        method="POST">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>

                    <!--Edit comment form-->
                    <div class="collapse" id="collapseEdit<%= comment._id %>">
                        <div class="well" style=" margin-top: 15px;">
                            <h4>Edit your comment</h4>
                            <form id="edit-comment-form<%= comment._id %>"
                                action="/campgrounds/<%= campground.slug %>/comments/<%= comment._id %>?_method=PUT"
                                method="POST">
                                <div class="form-group">
                                    <label class="sr-only">username</label>
                                    <input class="form-control" type="text" value="<%= currentUser.username %>"
                                        disabled>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only">comment text</label>
                                    <textarea class="form-control" name="comment[text]"
                                        placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>"
                                        rows="5" cols="70"><%= comment.text %></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-warning">Edit comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <% } %>
                    <hr>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>

<!-- Campground Likes Modal -->
<div id="campgroundLikes" class="modal fade" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalLabel">Campground likes: <%= campground.likes.length %></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Liked by:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Show all the users that liked this campground.-->
                        <% campground.likes.forEach(like => { %>
                        <tr>
                            <td><span class="badge"><i class="fas fa-user"></i></span> <a
                                    href="/users/<%=like._id%>"><%= like.username %></a></td>
                        </tr>
                        <% }); %>
                        <% if (campground.likes.length === 0) { %>
                        <tr>
                            <td><em>No likes yet.</em></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>